<% include header %>

<div id="profile"> <a href="https://www.linkedin.com/in/abhirammadugula/">linkedin</a></br>
  <a href="https://github.com/abhirammadugula/">github</a></br>
  <a href="https://bitbucket.org/abhirammadugula93/">bitbucket</a></br></br>
</div>

  <% include footer %>