<% include header %>

  <h2>Error sending message</h2>
  <br /><br />
  <p>Please email me at <a href='mailto:S534093@nwmissouri.edu'>S534093@nwmissouri.edu</a></p>
  <p><a class="btn btn-danger" href="/" role="button">Return to Site</a></p>

  <% include footer %>