<% include header %>

<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./game.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="Contact.css">
<!-- A BootStrap container is used to adjust the layout of the contents based on screen size. .container uses pre-built screen sizes, while .container-fluid adjusts continously.-->
  
<img class="img-circle" src="abhiram.jpg" align="right" height="200" width="200">


<header>
<h1><br>
<strong>06 ABHIRAM MADUGULA</strong>
</h1><br>
</header>
<h2>This is <b> Abhiram Madugula </b> :) from India.</h2> <h3><article>I would love to create <b>articles </b> and web pages!!! I am pursuing masters in NWMS.</article></h3>
<aside>
<p> <b>Aside</b> I play lot of games badminton being my favourite.</p>
</aside>
<header>
<h2>
University Introduction
</h2>
<iframe width="560" height="315" src="https://youtube.com/embed/-TVHyhQUwlI" allowfullscreen></iframe>
</header>
Nortwest Missouri State University is located in Maryville.</br></br>
Please find the link for my university portal below:
<div id="nwmsportal">
<a href="http://www.nwmissouri.edu/login">NWMS</a></br></br>
</div>
My profile can be found at:
<div id="profile"> <a href="https://www.linkedin.com/in/abhirammadugula/">linkedin</a></br>
  <a href="https://github.com/abhirammadugula/">github</a></br>
  <a href="https://bitbucket.org/abhirammadugula93/">bitbucket</a></br></br>
</div>

<style>
table, th, td {
border: 2px solid blue;
border-collapse: collapse;
}
</style>
<table>
<tr>
  <th>
    Name
  </th>
  <th>
    SID
  </th>
  <th>
    Program
  </th>
</tr>
<tr>
  <td>
    Abhiram
  </td>
  <td>
    S534093
  </td>
  <td>
    ACS
  </td>
</tr>
</table>
</br></br>
Please find the list of subjects included in my program.</br>
<ul>
<li>
  Web Applications
</li>
<li>
  DataBase Systems
</li>
<li>
  Java
</li>
</ul>
Please find the schedule for my ACS program.</br>
<table>
<tr>
<th>
    Time
  </th>
  <th>
    Mon
  </th>
  <th>
    Tue
  </th>
  <th>
    Wed
  </th>
<th>
    Thu
  </th>
<th>
    Fri
  </th>
</tr>
<tr>
<td>
 11-11:50
</td>
<td>
Web Apps
</td>
<td>
</td>
<td>
Web Apps
</td>
<td>
</td>
<td>
Web Apps
</td>
</tr>
<tr>

</tr>
</table>

    <% include footer %>
